<div class="container">
  <!-- 当たり判定用のグリッドアイテム（行） -->
  <div *ngFor="let id of rows; index as i;" 
    class="item" 
    [id]="id" 
    [style.gridRowStart]="i + 1"
    [style.gridRowEnd]="i + 2" 
    [style.gridColumnStart]="'1'" 
    [style.gridColumnEnd]="maxColIndex + 1">
  </div>

  <!-- 当たり判定用のグリッドアイテム（列） -->
  <div *ngFor="let id of cols; index as j;" 
    class="item" 
    [id]="id" 
    [style.gridRowStart]="'1'"
    [style.gridRowEnd]="maxRowIndex + 1" 
    [style.gridColumnStart]="j + 1" 
    [style.gridColumnEnd]="j + 2">
  </div>

  <!-- ドラッグ&ドロップできるバー -->
  <div [@drag-drop]="{value: dragEnded ? 'dropped' : 'none', params: {translate_X: pos.x, translate_Y: pos.y}}" 
    id="draggable"
    class="bar" 
    cdkDrag 
    cdkDragBoundary=".container"
    (cdkDragStarted)="dragStarted($event)" 
    (cdkDragMoved)="dragMoved($event)"
    (cdkDragReleased)="dragDropped($event)" 
    [style.gridRowStart]="index.rowStart"
    [style.gridRowEnd]="index.rowEnd"
    [style.gridColumnStart]="index.columnStart"
    [style.gridColumnEnd]="index.columnEnd">
    ドラッグできるよ！
  </div>
</div>
